      <% @course.each do |course| %>
      <%= course.course_code %><br/>
      <%= course.name %>
      <% end %>
     <div class="row">
          
      <table id="Table1" class="blacktab" bordercolor="Black" border="0" style="border-color:Black;width:100%;"> 
 <tbody>
  <tr> 
   <td colspan="2" rowspan="1" style="width:2%;">时间</td> 
   <td align="Center" style="width:14%;">星期一</td> 
   <td align="Center" style="width:14%;">星期二</td> 
   <td align="Center" style="width:14%;">星期三</td> 
   <td align="Center" style="width:14%;">星期四</td> 
   <td align="Center" style="width:14%;">星期五</td> 
   <td class="noprint" align="Center" style="width:14%;">星期六</td> 
   <td class="noprint" align="Center" style="width:14%;">星期日</td> 
  </tr> 
  <tr> 
   <td colspan="2">早晨</td> 
   <td align="Center"> </td> 
   <td align="Center"> </td> 
   <td align="Center"> </td> 
   <td align="Center"> </td> 
   <td align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 2
   <td rowspan="4" style="width:1%;">上午</td> 
   <td style="width:1%;">第1节</td> 
   <td align="Center" rowspan="2" style="width:7%;">面向对象程序设计<br />专选<br />周一第1,2节{第1-8周}<br />张华<br />8#实验楼212</td> 
   <td align="Center" rowspan="2" style="width:7%;">计算机组成原理<br />专选<br />周二第1,2节{第1-13周|单周}<br />明忠<br />6#教学楼1<br />2012年12月24日(14:00-16:00)<br />6#教学楼105<br /><br />通信原理I<br />必修<br />周二第1,2节{第2-14周|双周}<br />张琳<br />6#教学楼103<br />2012年12月26日(09:30-11:30)<br />6#教学楼303</td> 
   <td align="Center" rowspan="2" style="width:7%;">移动通信<br />学选<br />周三第1,2节{第1-14周}<br />张琳<br />8#实验楼317</td> 
   <td align="Center" rowspan="2" style="width:7%;">交换理论基础<br />学选<br />周四第1,2节{第1-14周}<br />李斌<br />1#教学楼411<br /><br /><font color="red">(停0018)、(调0050)</font></td> 
   <td align="Center" rowspan="2" style="width:7%;">专业外语Ⅰ<br />必修<br />周五第1,2节{第1-8周}<br />海军<br />3#教学楼315</td> 
   <td class="noprint" align="Center" style="width:7%;"> </td> 
   <td class="noprint" align="Center" style="width:7%;"> </td> 
  </tr> 
  <tr> 
   <td>第2节</td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 4
   <td>第3节</td> 
   <td align="Center" rowspan="2">交换理论基础<br />学选<br />周一第3,4节{第2-14周|双周}<br />陈斌<br />1#教学楼409<br /><br /><font color="red">(停0019)</font></td> 
   <td align="Center"> </td> 
   <td align="Center"> </td> 
   <td align="Center" rowspan="2">面向对象程序设计<br />专选<br />周四第3,4节{第1-8周}<br />张华<br />8#实验楼212</td> 
   <td align="Center" rowspan="2">计算机组成原理<br />专选<br />周五第3,4节{第1-14周}<br />黄明<br />6#教学楼103<br />2012年12月24日(14:00-16:00)<br />6#教学楼105<br /><font color="red">(调0588)</font></td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 
   <td>第4节</td> 
   <td align="Center"> </td> 
   <td align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 6
   <td rowspan="4" style="width:1%;">下午</td> 
   <td>第5节</td> 
   <td align="Center" rowspan="2">毛泽东思想和中国特色社会主义理论体系概论Ⅱ<br />必修<br />周一第5,6节{第1-15周|单周}<br />徐锋<br />5#教学楼232<br />第18周周3(2012-12-19) 13:30-15:00<br />6#教学楼107</td> 
   <td align="Center" rowspan="2">数字系统与逻辑设计<br />学选<br />周二第5,6节{第1-11周|单周}<br />松<br />3#教学楼315<br /><br /><font color="red">(停0004)</font><br /><br />移动通信<br />学选<br />周二第5,6节{第2-14周|双周}<br />张琳<br />6#教学楼108</td> 
   <td align="Center"> </td> 
   <td align="Center" rowspan="2">毛泽东思想和中国特色社会主义理论体系概论Ⅱ<br />必修<br />周四第5,6节{第1-16周}<br />徐锋<br />5#教学楼232<br />第18周周3(2012-12-19) 13:30-15:00<br />6#教学楼107</td> 
   <td align="Center" rowspan="2">通信原理I<br />必修<br />周五第5,6节{第1-14周}<br />张琳琳<br />6#教学楼103<br />2012年12月26日(09:30-11:30)<br />6#教学楼303<br /><font color="red">(调0121)</font></td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 
   <td>第6节</td> 
   <td align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 
   <td>第7节</td> 8
   <td align="Center" rowspan="2">高频电子与通信电路<br />必修<br />周一第7,8节{第1-13周|单周}<br />郭烁<br />6#教学楼107<br /><br />电磁场和电磁波<br />专选<br />周一第7,8节{第2-14周|双周}<br />史晓琳<br />6#教学楼107<br /><br /><font color="red">(调0355)</font></td> 
   <td align="Center" rowspan="2">高频电子与通信电路<br />必修<br />周二第7,8节{第1-14周}<br />郭烁<br />6#教学楼103</td> 
   <td align="Center"> </td> 
   <td align="Center" rowspan="2">信息理论与编码<br />专选<br />周四第7,8节{第1-16周}<br />陈春<br />1#教学楼409</td> 
   <td align="Center" rowspan="2">数字系统与逻辑设计<br />学选<br />周五第7,8节{第1-12周}<br />李松<br />6#教学楼103<br /><br /><font color="red">(停0005)</font></td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 
   <td>第8节</td> 
   <td align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 10
   <td rowspan="2" style="width:1%;">晚上</td> 
   <td>第9节</td> 
   <td align="Center" rowspan="2">形势与政策5<br />限选<br />周一第9,10节{第1-8周}<br />李川<br />3#教学楼224</td> 
   <td align="Center" rowspan="2">现代检测技术及系统<br />学选<br />周二第9,10节{第1-16周}<br />刘玉芹<br />3#教学楼118<br /><br /><font color="red">(停0010)</font></td> 
   <td align="Center" rowspan="2">中国古代信息的传递<br />任意<br />{第1-8周|2节/周}<br />梅旃<br />3#教学楼224</td> 
   <td align="Center" rowspan="2">电磁场和电磁波<br />专选<br />周四第9,10节{第1-15周}<br />史晓琳<br />3#教学楼124<br /><br /><font color="red">(调0358)</font></td> 
   <td align="Center" rowspan="2">化学元素发现简史<br />任意<br />{第9-16周|2节/周}<br />徐振和<br />2#教学楼102</td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
  <tr> 
   <td>第10节</td> 
   <td class="noprint" align="Center"> </td> 
   <td class="noprint" align="Center"> </td> 
  </tr> 
 </tbody>
</table> 

</div>